git+https://github.com/openai/CLIP.git
numpy
accelerate
# make sure to add admistration rights at d:\\utilities\\miniconda\\envs\\rag\\lib\\site-packages\\torch (--user flag to notify error)
--pre torch==2.8.0+cu129 --index-url https://download.pytorch.org/whl/nightly/cu129
torchvision==0.22.0 --index-url https://download.pytorch.org/whl/cu128
https://github.com/loscrossos/lib_flashattention/releases/download/v2.7.4.post1_crossos00/flash_attn-2.7.4.post1+cu129torch2.7.0-cp312-cp312-win_amd64.whl ; sys_platform == 'win32' #egg:v2.7.4.post1
transformers
https://github.com/loscrossos/lib_sageattention/releases/download/v2.2.0/sageattention-2.2.0+cu129torch270-cp312-cp312-win_amd64.whl ; sys_platform == 'win32'  #egg:v2.2.2

# Optional
ipykernel
langchain_huggingface
pandas
langchain
sentence_transformers
pymilvus
bs4

# For 8-bit model loading
bitsandbytes-cuda110
bitsandbytes